.container{
    .works{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        
        .work-card{
            margin-bottom: 80px;
            width: 50%;
            padding: 0 10px 0;
        
            .photo{
                width: 636px;
                height: 400px;
                border-radius: 8px;
                border: 1px solid #F1F1F1;
            }


            .content{
                padding: 16px 16px 0;
                h2{
                    font-size: 28px;
                    line-height: 33.6px;
                    font-weight: 700;
                    color: #3B3B3B;
                }
                p{
                    font-size: 16px;
                    margin-top: 8px;
                    color: #919191;
                }
                .tags{
                    margin-top: 24px;
                    display: flex;
                    gap: 10px;

                    
                    a{
                        font-size: 16px;
                        line-height:24px;
                        background: #F1F1F1;
                        border-radius: 16px;/*圓角尺寸*/
                        padding:4px 12px 4px 12px;
                    }
                    li:hover a{
                        text-decoration: none;
                        color: #3B3B3B;
                    }
                }
            }
        }
    }
    @media(max-width:1400px) {
        .works{
            justify-content: center;
        }
    }
    @media(max-width:767px){
        .works{
            margin: 0 20px;
            .work-card{
                width: 90%;
                
            }
                
        }
    }
}